Django==3.1.6
django-environ==0.4.5
# You need to have the libpq-dev package installed on your OS in order to get the psycopg2 package
psycopg2==2.8.5
django-crispy-forms==1.9.2
requests-mock==1.8.0
django-extensions==3.0.9